{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% include_block page.body %}

{% block heading %}{{ page.title }}{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/about_page.css' %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
	<article>
        {% for block in page.body %}
            {% if block.block_type == 'heading' %}
                <h2>{{ block.value }}</h2>
            {% elif block.block_type == 'icon_block' %}
               {% include_block block %}
            {% else %}
                <section class="block_type-{{ block.block_type }}">
                   {% include_block block %}
                </section>
            {% endif %}
        {% endfor %}
    </article>
{% endblock %}
