{% extends "base.html" %}
{% load static wagtailuserbar %}

{% load wagtailcore_tags wagtailimages_tags %}
{% include_block page.body %}

{% block heading %}{{ page.title }}{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/about_page.css' %}">
{% endblock %}

{% block body_class %}about-body{% endblock %}

{% block content %}
	<article>
        {% include "home/includes/streamfield_blocks.html" with blocks=page.body %}
    </article>
{% endblock %}
