{% extends "base.html" %}

{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% include_block page.body %}

{% block body_class %}template-blogpage{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

    {% block content %}

    <article>
        {% for block in page.body %}
            <div class="row">
                {% if block.block_type == 'heading' %}
                    <h2>{{ block.value }}</h2>
                {% elif block.block_type == 'featured_pages' %}
                    <div class="row">
						{% for child in block.value %}
							{% with child.specific as featured_page %}

								<div class="col-sm-6 featured-page-container">
									<div class="featured-page">
										<a class="featured-page-link" href="{% slugurl child.slug %}">
											{% if featured_page.featured_image %}
												<div class="featured-page-image">
													{% image featured_page.featured_image width-100 %}
												</div>
											{% endif %}

											<div class="featured-page-text">
												<div class="featured-page-title">{{ child.title }}</div>

												{% if featured_page.short_description %}
													<div class="featured-page-details">
														{{ featured_page.short_description | richtext }}
													</div>
												{% endif %}
											</div>
										</a>
									</div>
								</div>
							{% endwith %}
						{% endfor %}
					</div>
                {% elif block.block_type == 'image' %}
                    {% image block.value width-900 class="img-responsive" %}
                {% else %}
                    <section class="block_type-{{ block.block_type }}">
                       {% include_block block %}
                    </section>
                {% endif %}
            </div>
        {% endfor %}
    </article>

{% endblock %}
