{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block heading %}{{ page.title }}{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
	{{ page.body|richtext }}

	<h2>Tools</h2>

	<p>
		I've made a number of tools to help me work with SVG files.
		They are online here and in many cases are open source.
	</p>

	<div class="row">
		<div class="col-sm-4">
			<div class="home-toolbox"> SVG optimiser</div>
		</div>
			<div class="col-sm-4">
			<div class="home-toolbox">SVG editor</div>
		</div>
		<div class="col-sm-4">
			<div class="home-toolbox">SVG Animator</div>
		</div>
	</div>

	<p><a href="/tools">More tools &gt;</a></p>

	<hr>

	<h2>Tutorials</h2>

	<p>
		Here are various tutorials I've written about techiniques I learnt.
		They primarily deal with graphics using SVG or Canvas.
	</p>

	<p><a href="/tools">More tools &gt;</a></p>

	<hr>

	<h2>Articles</h2>

	<p>
		This is a collection of articles I've written that cover various topics, including data visualisation and linguistics.
	</p>

	<p><a href="/articles">Articles</a></p>
{% endblock %}
