{% extends "base.html" %}
{% load static wagtailuserbar %}

{% load wagtailcore_tags %}

{% block heading %}{{ page.title }}{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
	<p>Introduction here.</p>

	<hr>
	<h2>Tools</h2>
	<p>Various programs I've put online for you to use.</p>

	<div class="row">
		<div class="col-sm-4">
			<div class="home-toolbox">SVG Optimiser</div>
		</div>
			<div class="col-sm-4">
			<div class="home-toolbox">SVG Editor</div>
		</div>
		<div class="col-sm-4">
			<a href="/tools/draw-dna">
				<div class="home-toolbox">
					<img width="100%" style="overflow:hidden" src="/media/original_images/Screen_Shot_2016-11-17_at_22.14.16.png">
					<div>Draw SVG</div>
				</div>
			</a>
		</div>
	</div>

	<p><a href="tools">More Tools <i class="fa fa-caret-right" aria-hidden="true"></i></a>

	<hr>
	<h2>Tutorials</h2>

	<div class="row">
		<div class="col-sm-4">
			<div class="home-toolbox">
				<a href="/tutorials/canvas">
					<img src="/media/original_images/SVG_curve_path.png">
					<div class="title">SVG</div>
					<div class="description">How to make SVGs from scratch and how to make them interactive</div>
				</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="home-toolbox">
				<a href="/tutorials/canvas">
					<img src="/media/original_images/bumpmap_egg.png">
					<div class="title">Canvas</div>
					<div class="description">Pixel manipulation with the HTML5 canvas element</div>
				</a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="home-toolbox">
				<a href="/tutorials/3D-graphics">
					<img src="/media/original_images/Utah_teapot_square_small.png">
					<div class="title">3D graphics</div>
					<div class="description">Build a 3D graphics engine using Javascript and Processing.js</div>
				</a>
			</div>
		</div>
	</div>

	<p><a href="tools">More Tutorials <i class="fa fa-caret-right" aria-hidden="true"></i></a>

	<hr>
	<h2>Projects</h2>
	<p>Various projects I've worked on and written about</p>

	<div class="row">
		<div class="col-sm-3">
			<div class="home-toolbox">ALife</div>
		</div>
			<div class="col-sm-3">
			<div class="home-toolbox">Pixar in a Box</div>
		</div>
		<div class="col-sm-3">
			<div class="home-toolbox">Evolving Images</div>
		</div>
		<div class="col-sm-3">
			<div class="home-toolbox">Data analysis</div>
		</div>
	</div>

	<p><a href="tools">More Projects <i class="fa fa-caret-right" aria-hidden="true"></i></a>

{% endblock %}
