{% extends "base.html" %}
{% load static wagtailuserbar %}

{% load wagtailcore_tags %}

{% block heading %}{{ page.title }}{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
	{{ page.introduction|richtext }}

	{% if page.sections.all %}
		{% for section in page.sections.all %}
			<hr>
			<h2>{{ section.title }}</h2>
			<p>{{ section.body|richtext }}</p>
			{% if section.link_page %}
				<p><a href="{{ section.link_page.slug }}">More {{ section.title }} <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
			{% endif %}
		{% endfor %}
	{% endif %}

	<hr>

	<div class="row">
		<div class="col-sm-4">
			<div class="home-toolbox"> SVG optimiser</div>
		</div>
			<div class="col-sm-4">
			<div class="home-toolbox">SVG editor</div>
		</div>
		<div class="col-sm-4">
			<div class="home-toolbox">SVG Animator</div>
		</div>
	</div>

{% endblock %}
