{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block heading %}{{ page.title }}{% endblock %}

{% block body_class %}section-index {{ page.title | lower }}-index{% endblock %}

{% block content %}
	{% include "home/includes/sibling_navigation.html" %}

	<hr>

	{{ page.introduction | richtext }}

	<hr>

	{% if featured %}
		<div class="row">
			{% for child in featured %}
				{% include "home/includes/featured_page_link.html" with featured_page=child.specific %}
			{% endfor %}
		</div>
	{% endif %}

	{% if children %}
		{% if featured %}<h2>More</h2>{% endif %}

		{% for child in children %}
			<div>{{ child.specific.date }} <a href="{{ child.slug }}">{{ child.title }}</a></div>
		{% endfor %}
	{% endif %}

{% endblock %}
