{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block heading %}{{ page.title }}{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
	{{ page.introduction|richtext }}

	{% for c in page.featured_content.all %}
		<p>{{ c.title }}</p>
	{% endfor %}

	<hr>

	{% if children %}
		{% for child in children %}
			<p><a href="{{ child.slug }}">{{ child.title }}<a/></p>
		{% endfor %}
	{% endif %}

	{% if index_children %}
		<div class="row">
			{% for child in index_children %}
				<div class="col-md-4 col-sm-6">
					<a href="{{ child.slug }}">
						{% if child.featured_image %}
							{% image child.featured_image width-100 %}
						{% endif %}
						<div>{{ child.title }}</div>
						<div>({{ child.get_children | length }} pages)</div>
					<a/>
				</div>
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}
