{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block more_meta %}<meta name="description" content="Introduction page for {{ page.title }}">{% endblock %}

{% if page.css_links.all %}
    {% block extra_css %}
        {% for link in page.css_links.all %}
            <link rel="stylesheet" type="text/css" href="/static/css/{{ link.path }}">
        {% endfor%}
    {% endblock %}
{% endif %}

{% block extra_js %}
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    {% if page.js_links.all %}
        {% for link in page.js_links.all %}
            <script type="text/javascript" src="/static/js/{{ link.path }}"></script>
        {% endfor%}
    {% endif %}
{% endblock %}

{% block body_class %}introduction-body{% endblock %}
{% include_block page.body %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 parent-page-link">
            <a href="{{ page.get_parent.url }}">{{ page.get_parent }}</a>
        </div>
    </div>

    <hr>

    <article>
        {% include "home/includes/info_header.html" %}
        <div class="row">
            <div class="col-sm-5">
                <ol>
                    {% for child in children %}
                        <li><a href="{{ child.slug }}">{{ child.title }}</a></li>
                    {% endfor %}
                </ol>
            </div>
            {% if page.introduction %}
                <div class="col-sm-7">
                    {{ page.introduction | richtext }}
                </div>
            {% endif %}
        </div>

        {% include "home/includes/streamfield_blocks.html" with blocks=page.body %}
    </article>

    <div class="row">
        <div class="col-12 parent-page-link">
            <a href="{{ page.get_parent.url }}">Back to {{ page.get_parent }}</a>
        </div>
    </div>
{% endblock %}