{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags comments fluent_comments_tags %}

{% include_block page.body %}

{% block body_class %}template-blogpage{% endblock %}

{% if page.css_links.all %}
    {% block extra_css %}
        <link rel="stylesheet" type="text/css" href="/static/css/ajaxcomments.css" />
        {% for link in page.css_links.all %}
            <link rel="stylesheet" type="text/css" href="/static/css/{{ link.path }}">
        {% endfor%}
    {% endblock %}
{% endif %}

{% block extra_js %}
<script type="text/javascript" src="/static/js/ajaxcomments.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    {% if page.js_links.all %}
        {% for link in page.js_links.all %}
            <script type="text/javascript" src="/static/js/{{ link.path }}"></script>
        {% endfor%}
    {% endif %}
{% endblock %}

    {% block content %}

    {% block top-navigation %}{% endblock %}

    <article>
        <div class="info-header">
            <span class="date">{{ page.date }}</span>
            {% if page.github_link %}
            <span class="github-link">
                <a href="{{ page.github_link }}">
                    <i class="fa fa-github"></i> <span>Code on Github</span>
                </a>
            </span>
            {% endif %}
        </div>

        {% for block in page.body %}
            <div class="row">
                {% if block.block_type == 'heading' %}
                    <h2>{{ block.value }}</h2>
                {% elif block.block_type == 'image' %}
                    {% image block.value width-900 class="img-responsive" %}
                {% elif block.block_type == 'code' or block.block_type == 'two_columns' %}
                    {% include_block block %}
                {% else %}
                    <section class="block_type-{{ block.block_type }}">
                       {% include_block block %}
                    </section>
                {% endif %}
            </div>
        {% endfor %}
    </article>

    {% get_comment_count for page as comments_count %}

    <div>
        <div id="comments-wrapper">
            {% if comments_count %}
                <h2>Comments ({{ comments_count }})</h2>
                <h3 class="has-comments-title"></h3>
                    {% render_comment_list for page %}
            {% else %}
                    {% render_comment_list for page %}
            {% endif %}
          </div>

         <div id="comments-form-wrapper">
            <h2>Leave a comment</h2>
            {% render_comment_form for page %}
        </div>
    </div>

    {% if page.tags.all %}
        <h2>Tags</h2>
        {% for tag in page.tags.all %}
            <a href="/tags?tag={{ tag }}"><span class="page-tag">{{ tag }}</span></a>
        {% endfor %}
    {% endif %}

    {% block bottom-navigation %}{% endblock %}

{% endblock %}
