.social-icon {
	width: 72px;
	display: inline-block;
	text-align: center;
	line-height: 16px;
	font-size: 16px;
	font-weight: bold;
	vertical-align: top;
	margin: 8px;
	color: #333;
}

.social-icon:hover {
	text-decoration: none;
}

.social-icon:hover svg path{
	fill: #004080;
}

.social-icon i {
	margin-bottom: 5px;
}