.social-icon {
	width: 55px;
	display: inline-block;
	text-align: center;
	line-height: 14px;
	font-size: 14px;
	font-weight: bold;
	vertical-align: top;
	margin: 8px;
	color: #333;
}

.social-icon:hover {
	text-decoration: none;
}

.social-icon svg {
	width: 48px;
	height: 48px;
}

.social-icon svg path {
	fill: #333;
}

.social-icon:hover svg path {
	fill: rgb(255, 0, 175);
}

.social-icon i {
	margin-bottom: 5px;
}

.social-icon div {
	padding-top: 4px;
}

h2 {
	margin-top: 20px;
}