body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

h1 {
	color: white;
	text-align: center;
	font-weight: 700;
	font-size: 4em;
}

.navbar {
	border-radius: 0;
}

.small-nav-header {
	color: white;
	font-size: 1.6em;
	border: none;
	float: left;
}

button.navbar-toggle {
	position: absolute;
	right: 0;
	bottom: 2px;
	float: none;
}

.block-heading {
	font-size: 2em;
}