body {
	font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif;
	font-size: 20px;
}

h1 {
	text-align: center;
	font-family: "Alegreya Sans SC","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size: 3.2em;
	margin-top: 0;
	margin-bottom: 15px;
}

h2 {
	font-size: 1.6em;
	border-bottom: 1px solid #888;
	padding-top: 8px;
	margin: 10px -10px;
}

p {
	padding-bottom: 10px;
}

.navbar-static-top {
	margin-bottom: 15px;
}

.navbar-brand {
	line-height: 28px;
	padding: 10px;
}

.navbar-nav>li>a {
	padding: 10px 15px;
	line-height: 28px;
}

.footer {
	width: 100%;
	height: 40px;
	background-color: #333;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.block_type-two_columns canvas {
	display: block;
	margin: 0 auto;
}

.img-responsive {
	margin: 0 auto;
}

.article-navigation {
	position: relative;
	margin-bottom: 30px;
}

.article-navigation span {
	position: absolute;
}

.previous-page-link {
	left: 0;
}

.parent-page-link {
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.next-page-link {
	right: 0;
}
