.home-toolbox {
	margin: 10px;
	cursor: pointer;
	background-color: #eee;
	padding: 10px;
	border-radius: 10px;
}

.home-toolbox:hover {
	background-color: #ddd;
}

.home-toolbox img {
	display: block;
	margin: 0 auto;
}

.home-toolbox .title {
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #333;
}

a:hover {
	text-decoration: none;
}

.home-toolbox .description {
	width: 100%;
	text-align: center;
	color: #111;
}