<div class="row">
    <div class="col-xs-4">
        {% if previous_page %}
            <a href="{{ previous_page.url }}">
                <span class="naviagation-arrow"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                <span class="navigation-name">{{ previous_page }}</span>
            </a>
        {% endif %}
    </div>
    <div class="col-xs-4 parent-page-link">
        <a href="{{ page.get_parent.url }}">{{ page.get_parent }}</a>
    </div>
    <div class="col-xs-4 next-page-link">
        {% if previous_page %}
            <a href="{{ next_page.url }}">
                <span class="navigation-name">{{ next_page }}</span>
                <span class="naviagation-arrow"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
            </a>
        {% endif %}
    </div>
</div>