{% load wagtailcore_tags wagtailimages_tags %}

{% if blocks %}
    {% for block in blocks %}
        {% if block.block_type == 'heading' %}
            <h2>{{ block.value }}</h2>
        {% elif block.block_type == 'icon_block' %}
            {% include_block block %}
        {% elif block.block_type == 'image' %}
            <section class="section-block block-img">
                {% image block.value width-300 class="img-responsive" %}
            </section>
        {% elif block.block_type == 'code' or block.block_type == 'two_columns' %}
            {% include_block block %}
        {% elif block.block_type == 'section_block' %}
            <section class="blog-section">
                {{ block }}
            </section>
        {% else %}
            <section class="section-block block-{{ block.block_type }}">
                {{ block }}
            </section>
        {% endif %}
    {% endfor %}
{% endif %}